blinker==1.9.0
click==8.3.3
Flask==3.1.0
Flask-Migrate==4.1.0
Flask-SQLAlchemy==3.1.1
gunicorn==22.0.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
packaging==26.2
psycopg2-binary==2.9.10
Werkzeug==3.1.8
sqlalchemy==2.0.49
